.Byte {

    font-family: monospace;

    min-width: 2rem;
    min-height: 2rem;

    margin: 0.25rem;
    padding: 0.25rem;

    text-align: center;

    display:inline-block;

    border: solid;
    border-width: thin;

}
